{% load static   %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

 <link rel='stylesheet' type="text/css" href="{% static '/css/style.css'  %}">
 <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
 <link
     href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
     rel="stylesheet">

 <!-- Custom styles for this template-->
 <link href="css/sb-admin-2.min.css" rel="stylesheet">
 <style>
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
 html, body {
     height: 100%;
 }
 body {
     font-family: 'Roboto', sans-serif;
 background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
 }
 .demo-container {
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .btn-lg {
     padding: 12px 26px;
     font-size: 14px;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
 }
 ::placeholder {
 font-size:14px;
 letter-spacing:0.5px;
 }
 .form-control-lg {
     font-size: 16px;
     padding: 25px 20px;
 }
 .font-500{
 font-weight:500;	
 }
 .image-size-small{
 width:140px;
 margin:0 auto;	
 }
 .image-size-small img{
 width:140px;
 margin-bottom:-70px;	
 }
 .icon-camera{
 position: absolute;
 right: -1px;
 top: 21px;
 width: 30px;
 height: 30px;
 background-color: #FFF;
 border-radius: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 }

</style>


 <link rel="stylesheet" href="https://cdn.lineicons.com/2.0/LineIcons.css">

 <div class="demo-container">
   <div class="container">
     <div class="row">
       <div class="col-lg-6 col-12 mx-auto">
         <div class="text-center image-size-small position-relative">
         <img src="https://annedece.sirv.com/Images/user-vector.jpg" class="rounded-circle p-2 bg-white">
         <div class="icon-camera">
         <a href="" class="text-primary"><i class="lni lni-camera"></i></a>
         </div>
         </div>
         <div class="p-5 bg-white rounded shadow-lg">
           
          <h3 class="mb-2 text-center pt-5">PAGE D'AUTHENTIFICATION</h3>
          <p class="text-center lead">Connectez-vous pour gérer toutes vos réservations</p>
       

<form method="POST" action="">
   {% csrf_token %}
   <div class="input-group form-group mt-3">
    <div class="bg-secondary rounded-start">
        <span class="m-3"><i
            class="fas fa-user mt-2"></i></span>
    </div>
    <input type="text" class="form-control"
        placeholder="username" name="username">
</div>
<div class="input-group form-group mt-3">
    <div class="bg-secondary rounded-start">
        <span class="m-3"><i class="fas fa-key mt-2"></i></span>
    </div>
    <input type="password" class="form-control"
        placeholder="password" name="password">
</div>
 
<button class="btn btn-primary btn-lg w-100 shadow-lg" type="su
">CONNECTER</button>
  <hr>
                                        <a href="" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login Avec Google
                                        </a>
                                        <a href="" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login Avec Facebook
                                        </a>
                                        <a href="{% url 'register' %}" class="btn btn-facebook btn-user btn-block"> Creer un compte</a>


{% for msg in messages %}
<h4>{{msg}}</h4>
</div>



{% endfor  %}

                                    </form>
                                    <hr>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
</form>


