{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>Reservation</title>
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static '/navbar/css/style.css' %} ">
	<!-- Demo CSS (No need to include it into your project) -->
	<link rel="stylesheet" href="{% static '/navbar/css/demo.css' %}">
  
  </head>
  <body>
 <div class="row">  
 <main>
     <!-- Start DEMO HTML (Use the following code into your project)-->
  <header class="header-area">
  <!-- site-navbar start -->
  <div class="navbar-area">
    <div class="container">
      <nav class="site-navbar">
        <!-- site logo -->
        <img src="{% static '/img _reservation/res25.jpg' %}" width="65" height="55" class="d-inline-block align-text-top " alt="">
        
        <ul><li> </li> </ul>
       
        <!-- site menu/nav -->
        <ul>
          <li><a href="{% url 'home'%}">home</a></li>
          <li><a href="{% url 'reservation' %}" >Reservation</a></li>
          <li><a href="{% url 'salle' %}">Salle</a></li>
          <li><a href="{% url 'table' %}" >Table</a></li>
          <li><a href="{% url 'client' %}" >Client</a></li>
            <!--class="btn btn-outline-success">-->
        </ul>
        <ul><li> </li> </ul>
        <!--<ul> <li><a href="{% url 'client_home' %}" class="btn btn-outline-success">Deconnecter</a></li> </ul>
       -->
        <ul> <li><a href="{% url 'client_home' %}">Deconnecter</a></li> </ul>
       
      
      
      </nav>
    </div>
  </div><!-- navbar-area end -->

    
</header>   
     <!-- END EDMO HTML (Happy Coding!)-->
 </main>
 
      

  <!-- Script JS -->
  <script src="{% static 'navbar/js/script.js' %}"></script>
   
  </body>
</html>